{% extends 'base.html.twig' %}

{% block title %}Editer un membre{% endblock %}

{% block body %}

<h2 class="my-4">Editer un membre</h2>

{{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{{ include('admin/user/_delete_form.html.twig') }}

<a href="{{ path('admin_user_index') }}">Retour à la liste</a>

{% endblock %}
