{% extends 'base.html.twig' %}

{% block title %}Nouvelle question{% endblock %}

{% block body %}
    <h1>Créer une nouvelle question</h1>

    {{ include('admin/answer/_form.html.twig') }}

    <a href="{{ path('admin_quizz_edit', {'id': quizz.id}) }}">Retour au quizz</a>
{% endblock %}