html{
    position:relative;
    min-height: 100%;
}
main{
    margin-bottom: 6.25rem;
}
.navbar
{
    background-color: #4C8DF0;
}

.footer
{
    position: absolute;
    bottom:0;
    background-color: black;
}

.btn
{
    background-color: #F5A834;
}