{% extends 'base.html.twig' %}

{% block title %}Nouveau Quizz{% endblock %}

{% block body %}
    <h1>Créer un nouveau quizz</h1>

    {{ include('admin/quizz/_form.html.twig') }}

    <a href="{{ path('admin_quizz_index') }}">Retour à la liste</a>
{% endblock %}