#quiz-view h1 {
  text-align: center;
}

#quiz-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
  width : 80%;
  margin: 0 auto;
}

.quiz-box{
  width : 30%;
}

.quiz-answers{
  display: flex;
  align-items: center;
}

#check-icon {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 3em auto;
}

h2 { 
  width : 100%;
}




