@import 'src/styles/vars';

#quiz-view h1 {
  text-align: center;
}

#quiz-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
  width : 80%;
  margin: 0 auto;
}

.quiz-box{
  width : 30%;
  margin-top: 10px;
}

.quiz-answers{
  display: flex;
  align-items: center;
  color: color;
  padding-left : 3em;
}

.answer-clicked{
  display: flex;
  align-items: center;
  background-color: black;
  color : white;

}

.good-answer{
  display: flex;
  align-items: center;
  background-color: #32e926;
  color : white;
  padding-left : 3em;
}

.bad-answer{
  display: flex;
  align-items: center;
  background-color: red;
  color : black;
  padding-left : 3em;
}

.quiz-score {
  text-align: center;
  font-size: 2em;
  margin: 2em;
}


#check-icon {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 3em auto;
}

h2 { 
  width : 100%;
}

.quiz-score {
  text-align: center;
  font-size: 2em;
  margin: 2em;
}

