#navigation {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10em auto;
  width : 70%;
  
}

.bigButton {
  border : solid white 5px;
  padding: 2em 5em;
  margin-left: 1em;
  border-radius: 15px;
  color : white;
  background-color: #fdc841;
  text-transform: uppercase;
  font-weight: bold;
  width : 15%;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

// Cards Carousel
// ----------------------------------------------

.icon-cards {
  position: relative;
	width: 60vw;
	height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  font-size: 2em;
	perspective: 1000px;

	// This is the element that rotates with the animation

	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transform: translateZ(-30vw) rotateY(0);
		animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
	}

	// Individual cards

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 60vw;
		height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

		&:nth-child(1) {
			background: #F7B040;
			transform: rotateY(0) translateZ(35vw);
		}

		&:nth-child(2) {
			background: #F7B040;
			transform: rotateY(120deg) translateZ(35vw);
		}

		&:nth-child(3) {
			background: #F7B040;
			transform: rotateY(240deg) translateZ(35vw);
		}
	}
}

// Carousel animation

@keyframes carousel {
	0%,  17.5%  { transform: translateZ(-35vw) rotateY(0); }
	27.5%, 45%  { transform: translateZ(-35vw) rotateY(-120deg); }
	55%, 72.5%  { transform: translateZ(-35vw) rotateY(-240deg); }
	82.5%, 100% { transform: translateZ(-35vw) rotateY(-360deg); }
}

