@import 'src/styles/vars';

#mentions-view {
  display: flex;
  flex-direction: column;
  margin: 2em 20%;
  text-align: left;
  background-color: white;
  border : solid 5px $orange;
  border-radius : 15px;
  padding : 1em 2em;
}


@media screen and (max-width: 425px)  {
  #mentions-view {
    margin: 2em 1em;
    border: solid 1px #F5A834;
    padding : 1em 1em;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px)  {
  #mentions-view {
    margin: 2em 5em;
    border: solid 1px #F5A834;
    padding : 1em 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px)  {
  #mentions-view {
    margin: 2em 5em;
    padding : 1em 1em;
  }
}

#cgu {
  font-weight: bold;
  font-size : 25px;
}
