{% extends 'base.html.twig' %}

{% block title %}Edit Wiki{% endblock %}

{% block body %}
<h2  class="my-4">Editer une fiche</h2>

    {{ include('admin/wiki/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    {{ include('admin/wiki/_delete_form.html.twig') }}

    <a href="{{ path('admin_wiki_index') }}">Retour à la liste</a>
{% endblock %}
