{% extends 'base.html.twig' %}

{% block title %}Nouvelle fiche{% endblock %}

{% block body %}
    <h2  class="my-4">Créer une nouvelle anecdote</h2>

    {{ include('admin/wiki/_form.html.twig') }}

    <a href="{{ path('admin_wiki_index') }}">Retour à la liste</a>
{% endblock %}
