{% extends 'base.html.twig' %}

{% block title %}Nouvelle fiche{% endblock %}

{% block body %}
    <h1>Créer une nouvelle fiche</h1>

    {{ include('admin/wiki/_form.html.twig') }}

    <a href="{{ path('admin_wiki_index') }}">Retour à la liste</a>
{% endblock %}
