#header {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 30% 30% 30%;
  background-color: #4C8DF0;
  height: 7em;
  &-logo {
    grid-column: 3;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
  }
  &-menu {
    grid-column: 5 / 7;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
  }
}

#settings {
    display: flex;
    justify-content: space-around;
    align-items: center;   
    width : 15%;

    &-menu {
      color: white;
    }
}

#logo {
  color: black;
  font-size: 2em;

}


