@import 'src/styles/vars';

#help-view {
  display: flex;
  flex-direction: column;
  margin: 2em 20%;
  text-align: center;
  background-color: white;
  border : solid 5px $orange;
  border-radius : 15px;
  padding : 1em 2em;
}


#help-body {
  display : flex;
  justify-content: center;
  margin-top: 5em;
}

.help-article {
  width : 33%;

}

#help-header p {
  font-size : 20px;
}

.help-article p {
  width : 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 0 auto;
  padding-top: 1em;
  font-size : 20px;
}


.help-article h2 {
  width : 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin : 0 auto;
  padding-top: 1em;
}

.help-bar {
  border-right : solid 1px black;

}

.help-pierric {
  margin-top : 3em;
}

@media screen and (min-width: 769px) and (max-width: 1024px)  {
  #help-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width : 100%;
    margin: 0 auto;
  }

  #help-header {
    padding-bottom : 20px; 
  }
  .help-bar{
    display: none;
  }
  .help-article {
    width : 100%;
    border-top: solid black 1px;
    padding-top : 30px;
    padding-bottom: 20px;
  }
  .img-article {
    display: none;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px)  {
  #help-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width : 100%;
    margin: 0 auto;
    
  }
  #help-header {
    padding-bottom : 20px; 
  }
  .help-bar{
    display: none;
  }
  .help-article {
    width : 100%;
    border-top: solid black 1px;
    padding-top : 30px;
    padding-bottom: 20px;
  }

  .img-article {
    display: none;
  }

}

@media screen and (min-width: 0px) and (max-width: 423px)  {
  #help-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width : 100%;
    margin: 0 auto;
    
  }
  #help-header {
    padding-bottom : 20px; 
  }
  .help-bar{
    display: none;
  }
  .help-article {
    width : 100%;
    border-top: solid black 1px;
    padding-top : 30px;
    padding-bottom: 20px;
    font-size : 10px;
  }

  .help-article h2 {
    font-size : 20px;
  }

  .help-article p {
    font-size : 15px;
  }

  .img-article {
    display: none;
  }

}
