#login{
  // display: flex;
  // flex-direction: column;
  margin: 4em auto;
  height: 100%;
  text-align: center;
  & h2 {
    text-transform: uppercase;
    margin: 1.2em;
  }
  & Button {
    margin: 1em;
  }
}

.field-input {
  margin: 0.5em;
  width: 20%;
}

