{% extends 'base.html.twig' %}

{% block title %}Nouveau thème{% endblock %}

{% block body %}
    <h2 class="my-4">Créer un nouveau thème</h2>

    {{ include('admin/tag/_form.html.twig') }}

    <a href="{{ path('admin_tag_index') }}">Retour à la liste</a>
{% endblock %}