{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
<h2  class="my-4">Créer un nouveau jeu</h2>

    {{ include('admin/game/_form.html.twig') }}

    <a href="{{ path('admin_game_index') }}">Retour à la liste</a>
{% endblock %}