{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>Salut, bienvenue sur ta page d'inscription'</h1>
<h2>{{ request }}</h2>
<h2>{{ toto }}</h2>
<h2>{{ response }}</h2>
{% endblock %}