#ending{

  &-view{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  }

  &-message{
    margin: 2em;
  }

  &-button{
    width: 10em;
  }
}



